* {
    font-family: 'Rubik', sans-serif;
    word-wrap: break-word;
}

.tabs {
    border: 1px solid #cccccc;
    display: flex;
    width: 100%;
    text-align: justify;
}

.tabs__sidebar {
    width: 125px;
    flex-shrink: 0;
    background: #cccccc;
   
}

.tabs__button {
    display: block;
    padding: 10px;
    background: #eeeeee;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.tabs__button:active {
    background: #dddddd;

}

.tabs__button:not(:last-of-type) {
    border-bottom: 1px solid #cccccc;
}

.tabs__button--active {
    font-weight: bold;
    border-right: 4px solid #009879;
    background: #dddddd;

}

.tabs__content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
    width: 90%
}

.tabs__content--active {
    display: block;
}

.tabs__content > :first-child {
    margin-top: 0;
}

h1 {
   color:#03675b;
   font-weight: 500;
   text-align: center;
   ;

}

#subtitle {
    color:#058577;
    font-weight: 500;
    text-align: center;
    
    
}

#bibligraphy-title {
    word-wrap: break-word;
    color:#009879;
    display: block;
    text-align: justify;
    width: 70%;
}

#bibligraphy-text {
    text-align: justify;
    display: block;
    padding-right: 30px;
}

* {
    font-family: 'Rubik', sans-serif;
    word-wrap: break-word;
    
    
}